<section>
    <a href="//www.bluehost.com/track/jslim89/" target="_blank">
        <img border="0" src="//bluehost-cdn.com/media/partner/images/jslim89/300x250/bh-300x250-02-dy.png" style="max-width:300px;width:100%;">
    </a>
</section>

<section><!-- ad sense -->
    <style>
    .ads2 {
        margin-top:1em;
        padding:0.8em;
        border:2px solid #ececec;
        border-radius:5px;
        width:100%;
        max-width: 300px;
        height:72px; 
    }
    .separator{
        border-right:none !important;
    }
    </style>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads2"
         style="display:inline-block"
         data-ad-client="ca-pub-7407162794954809"
         ></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</section>
