.affiliates
  div
    a(href='https://shop.ledger.com/pages/ledger-nano-x?r=005f13c38572' title='Ledger Nano X' target='_blank')
      img(src='http://affiliate.ledger.com/image/250/100')
  div
    a(href='https://luminati.io/?affiliate=ref_5d2fff2b8fcb5320de59b227&cam=L_yairi' title='The largest proxy network' target='_blank')
      img(src='/images/ads/lum_ad_250x250.png')
  div
    a(href='https://m.do.co/c/abb622813f68' title='Deploy your next app in seconds. Get $50 in cloud credits from @DigitalOcean' target='_blank')
      img(src='/images/ads/DigitalOcean_300x250.gif' style='width:250px;height:auto;')
