<p class="text-muted">{{ page.date | date_to_string }} | <i class="fa fa-tag"></i>{% include post-tags.html %}</p>

<div style="text-align:center;">
  <script type="text/javascript">
    atOptions = {
      'key' : '7371e580500a55a4e350528ca4dad860',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
  </script>
</div>
